/* HEADER CSS */
header {
  background-image: url("../../assets/bg-header/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.header-banner {
  padding: 50px;
  width: 20vw;

  @media (max-width: 991.98px) {
    width: 100%;
  }
}
.wrapperFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.text {
  color: #f0ece5;
  font-weight: 400;
  letter-spacing: 3px;
  z-index: 1;
  font-size: 18px;
  width: 180px;
  font-family: "Overlock SC", sans-serif;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;

  @media (min-width: 992px) {
    transform: translate(-20px, -60px);
  }

  @media (max-width: 991.98px) {
    background-color: #161a30;
    padding: 5px;
    box-shadow: #f0ece5 3px 3px 6px 0px inset, #161a30 -3px -3px 6px 1px inset;
    border-radius: 2px;
  }
}
.banner-img {
  height: 290px;
  border-radius: 2px;

  @media (min-width: 992px) {
    position: absolute;
    top: 0;
  }
}
.img-qrCode {
  height: 150px;
}
.work-times-number {
  z-index: 1;
  color: #f0ece5;
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  font-family: "Overlock SC", sans-serif;
  letter-spacing: 1px;
}
.wrapper-qrCode {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
