@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** PALETTE COLOR 
  #161A30
  #31304D
  #B6BBC4
**/
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0ece5;
}

.container {
  padding: 0 20px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #161a30;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.title h1::before,
h4::before,
.title h1::after,
h4::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: calc(50% - 15rem);
  background-color: #161a30;
  top: calc(50% - 1px);
}
.title h1::before,
h4::before {
  left: 0;
}
.title h1::after,
h4::after {
  right: 0;
}
